# MacOS
.DS_Store

# Maven
target/
*.jar
*.war
*.class

# Node
node_modules/
dist/

# Variables de entorno
.env

# Secrets de Kubernetes
infra/k8s/mysql-secret.yml

# Terraform
*.tfvars
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# IDEs
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
*.log